# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.build/
terraform/terraform.tfvars
terraform/policy-arns.auto.tfvars

# Python
__pycache__/
*.pyc

# OS
.DS_Store
